<% if count.positive? %>
  <a href="<%= root_path %>" data-turbo-action="replace" data-controller="favicon-alert"
     class="btn btn-ghost btn-info btn-sm underline underline-offset-4 gap-2">
    New notification
    <i class="bi bi-bell-fill"></i>
  </a>
<% else %>
  <span data-controller="favicon-alert" class="hidden"></span>
<% end %>
