<% if count.positive? %>
  <div class="mb-6 text-right">
    <a href="/" data-turbo-action="replace" data-controller="favicon-alert" class="link link-hover link-info">
      New notification
      <i class="bi bi-arrow-clockwise ml-auto"></i>
    </a>
  </div>
<% end %>
